# ============================================
# Dependencies — UniAbsences
# ============================================

# Framework
Django==6.0.2
django-crispy-forms==2.6
crispy-bootstrap5>=1.1.0
django-ratelimit==4.1.0
django-redis==6.0.0

# Database
psycopg2-binary==2.9.11

# Environment
python-dotenv==1.2.2

# WSGI server
gunicorn==25.1.0

# PDF / Excel
reportlab==4.4.10
openpyxl==3.1.5

# Utilities
Pillow>=12.1.1,<13
python-magic==0.4.27
redis==7.3.0

# Test
pytest>=9.0,<10
pytest-django>=4.12,<5
pytest-cov>=6.0,<7
